<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--annotation 연결해주기-->
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>-->

    <!--BeanPostProcessor 한번에 추가-->
    <context:annotation-config></context:annotation-config>

    <!--
    <bean id="w" class="kr.co.jhta.app.Gun">
        <constructor-arg name="bullet" value="8"></constructor-arg>
    </bean>
    -->

    <bean id="w" class="kr.co.jhta.app.StunGun">

    </bean>

    <!--annotation을 썼기 때문에 따로 property 주지 않아도 잘 작동함-->
    <bean id="ch" class="kr.co.jhta.app.Police">
        <!--<property name="w"  ref="w"></property>-->
    </bean>

</beans>