<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="dao" class="kr.co.jhta.app.dao.EmpMySQLDAO"></bean>

    <bean id="service" class="kr.co.jhta.app.service.EmpService">
        <property name="dao" ref="dao"></property>
    </bean>

    <bean id="ct" class="kr.co.jhta.app.util.CheckTime"></bean>

    <aop:config>
        <aop:aspect id="checkAspect" ref="ct">
            <aop:pointcut id="checkPoint" expression="execution(public * readAll(..))"/>
            <aop:around method="logAround"  pointcut-ref="checkPoint"></aop:around>
        </aop:aspect>
    </aop:config>

</beans>