<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>info.html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <h3>info.html</h3>

    <div th:text="${msg}"></div>

    <table class="table table-striped">
        <tr>
            <th>count</th>
            <th>no</th>
            <th>id</th>
            <th>pw</th>
            <th>name</th>
            <th>gender</th>
            <th>motive</th>
            <th>email</th>
        </tr>
        <tr th:each="member, status : ${list}">
            <td>
                <a th:href="@{/member/delete/{mno}(mno=${member.no})}" th:text="${status.count}"></a>
            </td>
            <td th:text="${member.no}"></td>
            <td th:text="${member.id}"></td>
            <td th:text="${member.pw}"></td>
            <td>
                <a th:href="@{/member/updateForm/{no}(no=${member.no})}" th:text="${member.name}"></a>
            </td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.motive}"></td>
            <td th:text="${member.email}"></td>
        </tr>
        <tr>
            <td colspan="8"><a href="/member/add">추가</a> </td>
        </tr>
    </table>
</body>
</html>