/* img 동그랗게 */

.container .icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}

.icon img {
position: absolute;
top: 0;
left: 0;
transform: translate(50, 50);
width: 100%;
height: 100%;
object-fit: cover;
margin: auto;
}

/* a 밑줄 없애기 */
.container .view-1 {
text-decoration-line : none
}

/* 바디 수정 */
.container .body {
    width: 1920px;
}
  
/* button-x */
.container .button-x {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 70%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}

.button-x img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}


/* 컨테이너 맞추기 */
.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    background-color: #ffffff;
    width: 100%;
}
.container .body {
    display: flex;
    flex-direction: column;
    /* width: 1920px;
    height: 1631px; */
    align-items: flex-start;
    gap: 30px;
    padding: 30px 320px 50px;
    position: relative;
    align-self: stretch;
    background-color: #ffffff;
}

/* dropdown */
.container .dropdown {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 16px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e0e0e0;
  }

  /* input text 테두리 없애기 */
  .text-wrapper-5:focus {
    outline: none;
  }
  