.class_1 { width: 1920px; height: 1767px; position: relative; background: white }
.class_26 { width: 1280px; left: 0px; top: 397px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex }
.class_60 { left: 0px; top: 124px; position: absolute; opacity: 0.80; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; line-height: 55px; word-wrap: break-word }
.class_34 { left: 53px; top: 52px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_41 { width: 539px; height: 78px; position: relative; border-bottom: 1px black solid }
.class_56 { width: 200px; height: 200px; left: 394px; top: 111px; position: absolute }
.class_46 { left: 410px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_31 { left: 266px; top: 27px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_64 { width: 632px; height: 325px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid }
.class_63 { width: 15.25px; height: 30.92px; left: 22.88px; top: 11.04px; position: absolute; border: 5px black solid }
.class_77 { width: 50px; height: 50px; left: 59.50px; top: -7.50px; position: absolute }
.class_44 { left: 205px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_49 { left: 209px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_51 { left: 430px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_61 { left: 0px; top: 5px; position: absolute; opacity: 0.80; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_30 { left: 14px; top: 27px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_4 { width: 218.50px; height: 72px; left: 850px; top: 81px; position: absolute }
.class_28 { width: 540px; height: 165px; left: 44px; top: 267px; position: absolute; border-bottom: 1px black solid }
.class_35 { width: 540px; height: 165px; left: 44px; top: 102px; position: absolute; border-bottom: 1px black solid }
.class_75 { color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_25 { width: 250px; height: 166px; left: 31px; top: 25px; position: absolute }
.class_66 { width: 61px; height: 53px; left: 281px; top: 7px; position: absolute }
.class_54 { width: 1280px; height: 325px; left: 0px; top: 0px; position: absolute }
.class_6 { left: -131px; top: -3px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_14 { width: 324px; height: 98px; left: 28px; top: 101px; position: absolute }
.class_2 { width: 1920px; height: 247px; left: 0px; top: 1476px; position: absolute }
.class_24 { left: 0px; top: 0px; position: absolute; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_15 { left: 240px; top: 44px; position: absolute; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_18 { width: 230px; height: 230px; left: 382px; top: 6px; position: absolute }
.class_21 { width: 308px; height: 236px; position: relative; border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid }
.class_33 { width: 160px; height: 160px; left: 2px; top: 5px; position: absolute }
.class_32 { width: 368px; height: 82px; left: 172px; top: 1px; position: absolute; border-bottom: 1px black solid }
.class_52 { width: 25px; height: 25px; left: 559px; top: 54px; position: absolute }
.class_19 { width: 115px; height: 115px; left: 57.50px; top: 57.50px; position: absolute; background: #FFDB21 }
.class_70 { width: 1920px; height: 150px; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 1px rgba(0, 0, 0, 0.30) solid }
.class_16 { left: 0px; top: 0px; position: absolute; color: black; font-size: 100px; font-family: Noto Sans; font-weight: 300; line-height: 90px; word-wrap: break-word }
.class_5 { width: 500px; height: 29px; left: 0px; top: 43px; position: absolute }
.class_13 { width: 632px; height: 236px; position: relative; border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid }
.class_62 { width: 61px; height: 53px; left: 243px; top: 7px; position: absolute }
.class_72 { width: 72px; height: 29px; position: relative }
.class_10 { left: 126px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_67 { width: 200px; height: 200px; left: 391px; top: 111px; position: absolute }
.class_39 { width: 540px; height: 328px; left: 44px; top: 102px; position: absolute;}
.class_48 { left: 94px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_65 { width: 342px; height: 234px; left: 49px; top: 32px; position: absolute }
.class_69 { width: 1920px; height: 150px; left: 0px; top: 0px; position: absolute }
.class_9 { left: 104px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_17 { left: 28px; top: 25px; position: absolute; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_3 { width: 1920px; height: 247px; left: 0px; top: 0px; position: absolute; background: white; border-top: 1px rgba(0, 0, 0, 0.30) solid }
.class_27 { width: 632px; height: 463px; position: relative; border-radius: 5px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.30) solid }
.class_36 { left: 57px; top: 59px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_29 { width: 324px; height: 82px; left: 172px; top: 83px; position: absolute; border-bottom: 1px black solid }
.class_43 { left: 68px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_53 { width: 6.25px; height: 14.58px; left: 9.38px; top: 5.21px; position: absolute; border: 1.50px black solid }
.class_50 { left: 302px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_37 { left: 42px; top: 44px; position: absolute; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_71 { left: 728.50px; top: 50.50px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 50px; display: inline-flex }
.class_11 { width: 1280px; height: 1168px; left: 320px; top: 230px; position: absolute }
.class_12 { left: 0px; top: 932px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex }
.class_20 { width: 206.04px; height: 206.04px; left: 11.98px; top: 11.98px; position: absolute; background: #FFDB21 }
.class_40 { left: 1px; top: -1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex }
.class_55 { width: 632px; height: 325px; left: 648px; top: 0px; position: absolute; border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid }
.class_59 { width: 304px; height: 234px; left: 42px; top: 32px; position: absolute }
.class_23 { left: 36px; top: 76px; position: absolute; color: black; font-size: 100px; font-family: Noto Sans; font-weight: 300; line-height: 90px; word-wrap: break-word }
.class_22 { width: 250px; height: 166px; left: 24px; top: 25px; position: absolute }
.class_73 { width: 50px; height: 50px; left: 35.50px; top: -7.50px; position: absolute }
.class_7 { width: 218px; height: 29px; left: 0.50px; top: 0px; position: absolute }
.class_8 { left: 0px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_42 { width: 511px; height: 34px; left: 14px; top: 39px; position: absolute }
.class_45 { left: 296px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_76 { width: 169px; height: 50px; position: relative }
.class_38 { left: 487px; top: 53px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word }
.class_74 { width: 17.92px; height: 9.79px; left: 16.04px; top: 20.83px; position: absolute; background: black }
.class_47 { width: 487px; height: 34px; left: 14px; top: 25px; position: absolute }
