<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{ :: title}">layout.html</title>
</head>
<body>
    <div th:fragment="layout">
        <div th:replace="fragments :: header">

        </div>
        <!--section : 나중에 들어갈 페이지(페이지명이 없을때 비워놓고 ::)-->
        <div>
            <div th:replace="~{ :: section}"></div>
        </div>

        <div th:replace="fragments :: footer">

        </div>
    </div>
</body>
</html>