<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="m" class="kr.co.jhta.app.Missile"></bean>

    <bean id="p" class="kr.co.jhta.app.FX21">
        <property name="m" value="m"></property>
    </bean>

</beans>