<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ex8.html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <h3>ex8.html</h3>

    <table class="table table-striped">
        <tr>
            <th>deptno</th>
            <th>dname</th>
            <th>loc</th>
            <th>index</th>
        </tr>
        <tr th:each="dto, status : ${dList}">
            <td>[[${dto.deptno}]]</td>
            <td>[[${dto.dname}]]</td>
            <td>[[${dto.loc}]]</td>
            <td>
                index = <span th:text="${status.index}"></span>
                count = <span th:text="${status.count}"></span>
                count = <span th:text="${status.size}"></span>
                even = <span th:text="${status.even}"></span>
                odd = <span th:text="${status.odd}"></span>
                first = <span th:text="${status.first}"></span>
                last = <span th:text="${status.last}"></span>
            </td>
        </tr>
    </table>

    <table class="table table-striped">
        <tr>
            <th>deptno</th>
            <th>dname</th>
            <th>loc</th>
            <th>서울여부</th>
            <th>부서</th>
        </tr>
        <tr th:each="dto, status : ${dList}">
            <td>[[${dto.deptno}]]</td>
            <td>[[${dto.dname}]]</td>
            <td>[[${dto.loc}]]</td>
            <td>
                <span th:text="서울" th:if="${dto.loc == '서울'}"></span>
                <span th:text="서울외" th:unless="${dto.loc == '서울'}"></span>
            </td>
            <td th:switch="${dto.deptno}">
                <span th:case="10">10번부서</span>
                <span th:case="20">20번부서</span>
                <span th:case="*">기타부서</span>
            </td>
        </tr>
    </table>

    <!--반복해서 출력-->
    <!--HTML 태그가 아닌 타임리프의 유일한 자체 태그-->
    <th:block th:each="dto : ${dList}">
        <div th:text="'부서명 : ' + ${dto.dname}"></div>
        <div th:text="'부서위치 : ' + ${dto.loc}"></div>
    </th:block>

    <!--자바스크립트 인라인-->
    <script th:inline="javascript">
        let deptno = [[${dto4.deptno}]];
        let dname = [[${dto4.dname}]];
        let loc = [[${dto4.loc}]];
        let obj = [[${dto4}]];

        console.log(deptno + " " + dname + " " + loc)
    </script>

    <script th:inline="javascript">
        [# th:each="dto, status : ${dList}"]
        let dto[[${status.count}]] = [[${dto}]];
        console.log(dto[[${status.count}]]);
        [/]
    </script>


</body>
</html>